[submodule "mobile"]
	path = mobile
	url = https://github.com/narcisa1tamas-cyber/IS-Aplicatie-Mobile.git
[submodule "HospiHelp"]
	path = HospiHelp
	url = https://github.com/GhineaDimitrie/HospiHelp.git
